<div class="signin-container container-fluid">
    <section>
        <div class="imgBox">
            <img src="../../../assets/Images/yiorgos-ntrahas-lp8ZlyAZjy8-unsplash.jpg">
        </div>
        <div class="contentBox">
            <div class="fromBox">
                <div class="text-center text-danger fw-bold fs-5 py-2">{{serverError}}</div>
                <h2>Password Reset</h2>
                <form [formGroup] = "resetPasswordForm" (ngSubmit)="OnResetPassword()">
                    <div class="inputbox">
                        <span>Email</span>
                        <input 
                        (mouseenter) = "OnMouseEnter()"
                        [ngClass] = "DisplayErrorClass('userEmail')"
                        type="email" 
                        formControlName="userEmail"
                        name="userEmail"
                        id="userEmail"
                        >
                        <app-error-component-template 
                        [displayError]= "IsAValidField('userEmail')"
                        errorMessage="{{invalidFieldErrorMsg}}">
                        </app-error-component-template>
                    </div>
                    <div class="inputbox">
                        <span>Password</span>
                        <input 
                        formControlName = "userPassword"
                        [ngClass] = "DisplayErrorClass('userPassword')"
                        type="password" 
                        name="userPassword"
                        id="userPassword"
                        >
                        <app-error-component-template 
                        [displayError]= "IsAValidField('userPassword')"
                        errorMessage="{{invalidFieldErrorMsg}}">
                        </app-error-component-template>
                    </div>
                    <div class="inputbox">
                        <span>Confirm password</span>
                        <input 
                        formControlName = "confPassword"
                        [ngClass] = "DisplayErrorClass('confPassword')"
                        type="password" 
                        name="confPassword"
                        id="confPassword">
                        <app-error-component-template 
                        [displayError]= "IsAValidField('confPassword')"
                        errorMessage="{{invalidFieldErrorMsg}}">
                        </app-error-component-template>
                    </div>               
                    <div class="inputbox">
                        <input type="submit" name="resetSubmitBtn" value="Reset password">
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>